body {
    margin: 0;
	padding: 0;
}
.topo {
    height: 200px;
    background: rgba(135, 206, 235, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
}
.logo {
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}
.logo img {
    width: 125px;
    height: 125px;
}
.formulario {
    background: rgb(242, 242, 242);
    width: 800px;
    height: 380px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 240px;
    border-radius: 5px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: 25% 75%;
}
input[type=text], input[type=email], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-bottom: 10px;
}
label {
    padding: 12px;
}
label:before {
    content: "*";
    color: red;
}
textarea {
    height: 200px;
}
input[type=submit] {
    background: rgb(0, 191, 255);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 35px;   
}
input[type=reset] {
    background: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 200px; 
}